@import "tailwindcss";

/* Tema personalizado con colores primarios y secundarios */
@theme {
  --color-primary: #ff8901;
  --color-secondary: #fb923c;
}

/* Configuración del contenedor */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media (min-width: 640px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

@media (min-width: 1280px) {
  .container {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}
